*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;

    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gameboard{
    width: 600px;
    height: 600px;

    display: flex;
    flex-wrap: wrap;
}

.square{
    
    box-shadow: inset 0px 0px 1px rgb(41, 38, 40);

    height: 75px;
    width: 75px;


}

.piece{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    font-size: 70px;
}

.tile_preta{
    background-color: rgb(32, 31, 36);
}

.tile_branca{
    background-color: rgb(219, 198, 214);
}